*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: black;
}
h1{
    color: red;
    background-color: black;
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    text-transform: capitalize;
}
p{
    color: blue;
    font-family: Dracutaz;
}
