*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html ,body{
    height: 100%;
    width: 100%;
    background-color: #000000;
}
main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 20px;

    grid-template-columns:200px 1fr;
    grid-template-rows:200px 1fr 1fr;
}
.child{
    background-color: rgb(162, 0, 33);
    border: 3px solid white;
}