*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    width: 100%;
    height: 100%;
}
@mixin button-style($bg-color){
    padding: 20px 30px;
    background-color: $bg-color;
    color: white;
    border: none;
    border-radius: 7pc;
    outline: none;
    cursor: pointer;
    font-size: 18px;
}
#blue{
    @include button-style(blue)
}
#red{
    @include button-style(red)
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

    section{
        height: 50%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;

        h1{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: black;
            text-align: center;
        }
    }
}