*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
}
#parent{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr ;
    background-color: red;
    border: 10px solid white;
}
#box1{
    background-color: black;
}
#box2{
    background-color: rgb(234, 229, 229);
}
#box3{
    background-color: rgb(0, 0, 0);
}
#box4{
    background-color: rgb(0, 236, 102);
}
#box5{
    background-color: rgb(0, 0, 0);
}
#box6{
    background-color: rgb(71, 71, 71);
}
#box7{
    background-color: rgb(0, 0, 0);
}
#box8{
    background-color: rgb(206, 182, 182);
}