*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
/* h1{
    font-size: 60px;
} */
#box{
    margin: 10px;
    height: 500px;
    width: 500px;
    padding: 50px;
    background-color: black;
}
#inner{
    height: 50%;
    width: 50%;
    background-color: red;
}