*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    width: 100%;
    height: 100%;
    background-color: black;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
@mixin flex-column($gap){
    display: flex;
    flex-direction: column;
    gap: $gap;
}
main{
    height: 100%;
    width: 100%;
    @include flex-column(0rem);

    section.view1{
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;
        .top{
            width: 100%;

            img{
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom{
            background-color: rgb(59, 57, 57);
            @include flex-column(3rem);
            padding: 1.5rem;
            border-radius: 10px;

            .text{
               @include flex-column(0.7rem);

                h1{
                    font-weight: 200;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                }
                p{
                    font-weight: 300;
                    opacity: 0.8;
                    line-height: 1.5;
                }
                button{
                    width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.7rem;
                }
            }
        }
    }

    section.view2{
        @include flex-column(1rem);
        width: 100%;
        padding: 1rem;

        .top,.bottom{
            display: flex;
            width: 100%;
            justify-content: space-around;

            .element{
                text-align: center;
                @include flex-column(0.2rem);
                
                small{
                    opacity: 0.6;
                }
                h2{
                    font-size: 3rem;
                    font-weight: 300;
                }
            }
        }
    }

    section.view3{
        width: 100%;
        padding: 1rem;
        @include flex-column(1rem);
        .top{
            width: 100%;
            img{
                width: 100%;
                border-radius:0.7rem;
            }
        }
        .bottom{
            background-color: rgb(59, 57, 57);
            @include flex-column(3rem);
            padding: 1.5rem;
            border-radius: 10px;

            .text{
               @include flex-column(0.7rem);

                h1{
                    font-weight: 200;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                }
                p{
                    font-weight: 300;
                    opacity: 0.8;
                    line-height: 1.5;
                }
                button{
                    width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.7rem;
                }
                .bottom>p{
                    text-transform: uppercase;
                }
            }
        }
    }
}

@media (min-width : 900px){
    main{
        background-color: rgb(0, 0, 0);

        section.view1{
            flex-direction: row;
            padding: 1rem 4rem;
            .top,.bottom{
                width:50%;
            }
            .bottom{
                justify-content: space-between;
                padding: 3rem;

                .text{
                    gap: 1.5rem;
                    h1{
                        font-size: 3.5rem;
                    }
                    p{
                        width: 60%;
                        font-size: 1rem;
                    }
                }
            }
        }
        section.view2{
            flex-direction: row;
            padding: 1rem 4rem;
        }
        section.view3{
            flex-direction: row-reverse;

            .top,.bottom{
                width: 50%;
            }
            .bottom{
                justify-content: space-between;
                padding: 3rem;
            }
        }
    }
}