*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    max-width: 300px;
    padding-inline: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 60px rgb(146, 0, 131);
    border-radius: 15px;
    background: linear-gradient(rgb(0, 0, 0)),conic-gradient(from 0deg,rgb(146, 0, 131),black);
}
.box img{
    width: 100%;
    object-fit: cover;
}

@keyframes rotateBg{
    from{

    }
}