*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes borderAnimate{
    from{ --rotate: 0deg; }
    to{ --rotate: 360deg; }
}

.box{
    max-width: 300px;
    padding-inline: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    
    /* smooth border animation */
    transition: border-width .3s ease, box-shadow .3s ease;

    background:
        linear-gradient(black) padding-box,
        conic-gradient(from var(--rotate), black, rgb(237, 0, 99), black) border-box;

    border: 0px solid transparent;

    animation: borderAnimate 5s linear infinite;
    animation-play-state: paused;
    text-shadow: 0 0 0 rgb(237, 0, 99);
}

.box:hover{
    animation-play-state: running;
    border-width: 5px;
    box-shadow: 0 0 40px rgba(237, 0, 99, 0.7);
    text-shadow: 0 0 20px rgb(237, 0, 99);
}

.box img{
    width: 100%;
    object-fit: cover;
}
