*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
@property --bgColor{
    syntax: "<color>";
    initial-value: rgb(255, 255, 255);
    inherits: false;
}
@keyframes animateBgColor{
    from{
        --bgColor : red;
    }
    to{
        --bgColor : blue;
    }
}
.box{
    height: 200px;
    width: 400px;
    animation: changeBG 8s forwards;
    border: 1px solid white;
    background-color: var(--bgColor);
    animation: animateBgColor 10s;
}