*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html , body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
.nav{
    height: 100px;
    width: 100%;
    padding: 10px 30px;
}
.nav a{
    font-size: 15px;
    text-decoration: none;
    color: black;
    margin-right: 30px;
}
#main>h1{
    font-size: 300px;
    padding-left: 80px;
    font-weight: 400;
}
#btmleft{
    width: 200px;
    position: absolute;
    left: 5%;
    bottom: 20%;
}
#btmleft h4{
    margin-top: 50px;
    font-size: 30px;
}
#btmbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px 70px;
}
#btmbar a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
#main>img{
    position: absolute;
    height: 400px;
    border-radius: 10px;
}
#main #first{
    height: 350px;
    width: 300px;
    object-fit: cover;
    top: 40%;
    left: 40%;
    z-index: 2;
}
#main #sec{
    height: 350px;
    width: 300px;
    top :50%;
    left: 60%;
}
#main #thi{
    top: 40%;
    left: 25%;
    height: 400px;
    width: 300px;
}