*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap : 10px
}
#card{
    /* height: 350px; */
    width: 300px;
    padding: 40px;
    background-color: white;
    text-align: center;
    border-radius: 10px;

}
#card img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
#card h3{
    font-size: 26px;
    white-space: nowrap;
}
#card h4{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: crimson;
}
#card p{
    font-size: 13px;
}