*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: black;
}
body{
    background-image: url(https://images.pexels.com/photos/3304855/pexels-photo-3304855.jpeg);
    background-size: cover;
}
/* 
   linear gradient
   radial graident
 */


/* variable declaration in CSS */
:root{
    --x:400px;
    --y:400px;
}
.box{
    height: 100%;
    width: 100%;
    background: radial-gradient(150px at var(--x) var(--y) , rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.914));
}