*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
#car1{
    height: 40%;
    width: 40%;
    background-color: red;
    
}
#car2{
    height: 50%;
    width: 50%;
    background-color: blue;
    position: relative;
}
#car3{
    height: 50%;
    width: 50%;
    background-color: beige;
    position: absolute;
    left: 80%;
}

