*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.box{
    height: 200px;
    width: 400px;
    background-color: rgb(0, 0, 0);
    box-shadow:10px 5px 30px rgb(255, 11, 11);
}
h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    color: white;
    text-shadow: 10px 10px 30px red;
    text-align: center;
}