*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    width: 100%;
    height: 100%;
}

h1{
    color: red;
    background-color: black;
    text-align: center;
    text-transform: capitalize;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
    font-weight: 500;
    font-style: italic;
}
#h2{
    background-color: blue;
    color: black;
}

.h2{
    color: wheat;
    background-color: black;
}