*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
     padding: 10px 20px;
     font-weight: 600;
     background-color: crimson;
     border: none;
     border-radius: 2px;
     z-index: 10;
     cursor: pointer;
}
button:active{

}