*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    gap: 30px;
}
.box{
    height: 200px;
    width: 200px;
    transition: all linear 0.3s;
}
.red{
    background-color: rgb(79, 31, 31);
}
.blue{
    background-color: rgb(38, 38, 103);
}
.green{
    background-color: rgb(37, 87, 37);
}

body:has(.box:hover) .box{
    transform: scale(0.8);
    opacity: 0.8;
}
body .box:hover{
    transform: scale(1.2) !important;
    opacity: 1;
}