*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: black;
}
h1{
    font-size: 30px;
    background-color: lightseagreen;
    padding: 10px 50px;
    border: none;
    border-radius: 10px;
}
button{
    padding: 10px 20px;
    background-color: red;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}
button:active{
    scale: 0.95;

}