*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html ,
body{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    background-color: black;
}
.elem{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px ;
    background-color: #333;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.elem h3{
    color: white;
    font-size: 20px;
}
button{
    color: white;
    background-color: blue;
    padding: 10px 20px;
}