*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: aqua;
    padding: 50px;
}
.card{
    height: 400px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 10px 15px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.card img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.card h2{
    font-size: 26px;
    font-weight: 600;
}
.card p{
    font-size: 14px;
    color: #888;
    font-weight: 600;
    text-align: center;
}
.card button{
    border-radius: 25px;
    padding: 10px 20px;
    background-color: rgb(0, 108, 144);
    border: none;
    transition: all ease 0.5s;
}
.card button:hover{
    background-color: transparent;
    color: rgb(25, 182, 234);
}