*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    width: 100%;
    height: 100%;
    background-color: black;
}
#parent{
    height: 200px;
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: red;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
/* #box1{
    width: 100px;
    height: 100px;
    background-color: red;
}
#box2{
    width: 100px;
    height: 100px;
    background-color: rgb(82, 0, 214);
}
#box3{
    width: 100px;
    height: 100px;
    background-color: rgb(170, 0, 255);
} */