*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    width: 100%;
    height: 100%;
    background-color: black;
}
#parent{
    height: 100%;
    width: 100%;
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: red; */
    display: flex;
    overflow: auto;
}
#box1{
    width: 200px;
    height: 200px;
    border: 3px solid white;
    background-color: red;
}
#box2{
    width: 200px;
    height: 200px;
    border: 3px solid white;
    background-color: rgb(82, 0, 214);
}
#box3{
    width: 100px;
    height: 100px;
    border: 3px solid white;
    background-color: rgb(170, 0, 255);
}
#box4{
    width: 100px;
    height: 100px;
    border: 3px solid white;
    background-color: rgb(173, 167, 176);
}
#box5{
    width: 100px;
    height: 100px;
    border: 3px solid white;
    background-color: rgb(170, 0, 255);
}
#box6{
    width: 100px;
    height: 100px;
    border: 3px solid white;
    background-color: rgb(110, 107, 111);
}
#box7{
    width: 100px;
    height: 100px;
    border: 3px solid white;
    background-color: rgb(217, 255, 0);
}
#box8{
    width: 100px;
    height: 100px;
    border: 3px solid white;
    background-color: rgb(170, 0, 255);
}
#box9{
    width: 100px;
    height: 100px;
    border: 3px solid white;
    background-color: rgb(255, 13, 0);
}
